        @{
            ViewBag.Title = "Index";
            Layout = "~/Views/Shared/_CustomLayout.cshtml";
        }

        <h2>Index</h2>
        <body>

            <table>
                <tr>

                    <th>descriptionQst</th>
                    <th>typeQst</th>


                </tr>
                @foreach (var p in ViewBag.result)
                {
                    <tr>

                        <td>@p.descriptionQst</td>
                        <td>@p.typeQst</td>

                    </tr>




                }

            </table>
            <input type="submit" value="Export to Excel" class="button" />

        </body>

